body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #a6ade4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

.white-container {
    background-color: white;
    padding: 20px; /* Optional: Add padding to create space around the content */
    border-radius: 8px; /* Optional: Add border radius for a rounded corner effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle depth effect */
}

th,
td {
    padding: 15px; /* Adjust the value as needed */
}

/* Adjust the color of the Edit button */
.btn-primary {
    background-color: blue; /* Change this to your desired color */
    border-color: blue; /* Change this to your desired color */
}

/* Adjust the color of the Delete button */
.btn-danger {
    background-color: red; /* Change this to your desired color */
    border-color: red; /* Change this to your desired color */
}


