body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

header {
    width: 100%;
    background-color: #fcfcfc;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;

    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    
    width: 100%;
}

.user-info {
    font-size: 1.2em;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px); /* Adjust height minus header height */
    margin-top: 200px; /* To avoid content being hidden under the fixed header */
}

.sidebar {
    width: 250px;
    background-color: #fcfcfc;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header img.sidebar-logo {
    height: 50px;
    margin-right: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li ul {
    margin-left: 20px;
    list-style-type: disc;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allow scrolling within the content area */
    /*background-color: #d1e5fa;*/
    background-color: #d1e5fa;
    height: calc(100vh - 100px);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    flex: 1;
    background-color: #fffefe;
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
}

.stat:last-child {
    margin-right: 0;
}

