<!DOCTYPE html>
<html lang en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTeM - Foodbank</title>
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
</html>
<body>
    <header id="header" class="header fixed-top">
        <div class="header-content">
            <div class="user-info">
                <span></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/logo/foodbank.png" alt="UTeM Logo" class="sidebar-logo">
                <h2>UTeM Foodbank</h2>
            </div>
            <ul>
                <li><a href="cafeOwnerDashboard.html" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> DASHBOARD</a></li>
                <li><a href="makeDonation.html" id="dashboard-link"><i class="fas fa-cubes"></i> MAKE DONATION</a></li>
                <li><a href="historyDonation.html" id="dashboard-link"><i class="fas fa-history"></i> HISTORY OF DONATION</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="stats">
                <div class="dailyDonation">
                    <div class="icon-text">
                        <i class="fas fa-building"></i> <!-- Icon for Total Cafe -->
                        <div class="text">
                            <h3>TOTAL <span style="font-size: 1.5em;"> | </span> ITEM DONATION/DAY</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/cafeOwnerDashboard.js"></script>
    <script src="../assets/js/sidebar.js"></script>
</body>