<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTeM - Foodbank</title>
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="stylesheet" href="../assets/css/cafeOwner.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header id="header" class="header fixed-top">
        <div class="header-content">
            <div class="user-info">
                <span></span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/logo/foodbank.png" alt="UTeM Logo" class="sidebar-logo">
                <h2>UTeM Foodbank</h2>
            </div>
            <ul>
                <li><a href="adminDashboard.html" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><i class="fas fa-user-graduate"></i> Student
                    <ul>
                        <li><a href="studentRegistration.html" id="student-registration-link"><i></i> Registration</a></li>
                        <li><a href="studentManagement.html" id="student-management-link"><i></i> Management</a></li>
                    </ul>
                </li>
                <li><i class="fas fa-store-alt"></i> Cafe Owner
                    <ul>
                        <li><a href="cafeOwnerRegistration.html" id="cafe-owner-registration-link"><i></i> Registration</a></li>
                        <li><a href="cafeOwnerManagement.html" id="cafe-owner-management-link"><i></i> Management</a></li>
                    </ul>
                </li>
                <li><i class="fas fa-utensils"></i> Cafe
                    <ul>
                        <li><a href="cafeRegistration.html" id="cafe-registration-link"><i></i> Registration</a></li>
                        <li><a href="cafeManagement.html" id="cafe-management-link"><i></i> Management</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main-content">
           
            <div class="registerStudent-container">
                <h1>Cafe Registration</h1>
                <div class="white-container">
                    <form id="cafeRegistrationForm">
                        <div class="input-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <button type="submit">Register</button>
                    </form>
                    <br>
                    <div id="message"></div>
                </div>
               
            </div>
            
        </div>
    </div>
    <script src="../assets/js/cafeRegistration.js"></script>
    <script src="../assets/js/sidebar.js"></script>

</body>
</html>
