<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTeM - Foodbank</title>
    <link rel="stylesheet" href="../assets/css/cafeOwner.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header id="header" class="header fixed-top">
        <div class="header-content">
            <div class="user-info">
                <span>MAHMOR MUSTAPA</span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/logo/foodbank.png" alt="UTeM Logo" class="sidebar-logo">
                <h2>UTeM Foodbank</h2>
            </div>
            <ul>
                <li><a href="studentDashboard.html" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> DASHBOARD</a></li>
                <li><a href="makeReservation.html" id="dashboard-link"><i class="fas fa-edit"></i> RESERVATION FOR FOOD</a></li>
                <li><a href="historyReservation.html" id="dashboard-link"><i class="fas fa-history"></i> HISTORY OF RESERVATION</a></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Food Reservation History</h1>
            <div class="white-container">
                <div class="historyReservation-container">
                    
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Search By Date</h5>
            
                            <form class="row g-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control me-2" id="" placeholder="Enter date">

                                        <!-- Nanti ubah searchService for searchHistory untuk Student -->
                                    </div>

                                    <button type="button" class="btn btn-primary" onclick="searchServices()">
                                        Search
                                    </button>
                                </div>
                            </form><!-- Horizontal Form -->
            
                        </div>
                    </div>
                    <section class="section">
                        <div class="row">
                            <div class="col-lg-12">
            
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            Reservation History
                                        </h5>
            
                                        <!-- Default Table -->
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Food Name</th>
                                                    <th scope="col">Date of Reservation</th>
                                                    <th scope="col">Cafe</th>
                                                    <th scope="col">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
            
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- End Default Table Example -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <div id="message"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/studentManagement.js"></script>
    <script src="../assets/js/sidebar.js"></script>

</body>
</html>
