<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTeM - Foodbank</title>
    <link rel="stylesheet" href="../assets/css/student.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header id="header" class="header fixed-top">
        <div class="header-content">
            <div class="user-info">
                <span>MAHMOR MUSTAPA</span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/logo/foodbank.png" alt="UTeM Logo" class="sidebar-logo">
                <h2>UTeM Foodbank</h2>
            </div>
            <ul>
                <li><a href="studentDashboard.html" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> DASHBOARD</a></li>
                <li><a href="makeReservation.html" id="dashboard-link"><i class="fas fa-edit"></i> RESERVATION FOR FOOD</a></li>
                <li><a href="historyReservation.html" id="dashboard-link"><i class="fas fa-history"></i> HISTORY OF RESERVATION</a></li>
            </ul>
        </div>
        <div class="main-content">
            
            <div class="makeReservation-container"><br>
                <h1>Food Reservation Details</h1>
                <div class="white-container">
                    <form id="makeReservationForm">
                        <div class="input-group">
                            <label for="cafeName">Cafe Name</label>
                            <select id="cafeName" name="cafeName" required>
                                <option value="" disabled selected>Select a cafe</option>
                                <option value="Cafe Satria 1">Cafe Satria 1</option>
                                <option value="Cafe Satria 2">Cafe Satria 2</option>
                                <option value="Cafe Satria 3">Cafe Satria 3</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="searchServices()">Search</button>
                    </form>
                    <br>
                    <div id="message"></div>
                </div>
            </div>
            
            <div class="displayReservation-container">
                <h1>List of Foods</h1>
                <div class="white-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Food Name</th>
                                <th scope="col">Date Time</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/sidebar.js"></script>
    <script src="../assets/js/makeReservation.js"></script>
</body>
</html>