<!DOCTYPE html>
<html lang en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTeM - Foodbank</title>
    <link rel="stylesheet" href="../assets/css/student.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</html>
<body>
    <header id="header" class="header fixed-top">
        <div class="header-content">
            <div class="user-info">
                <span>MAHMOR MUSTAPA</span>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="../assets/logo/foodbank.png" alt="UTeM Logo" class="sidebar-logo">
                <h2>UTeM Foodbank</h2>
            </div>
            <ul>
                <li><a href="studentDashboard.html" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> DASHBOARD</a></li>
                <li><a href="makeReservation.html" id="dashboard-link"><i class="fas fa-edit"></i> RESERVATION FOR FOOD</a></li>
                <li><a href="historyReservation.html" id="dashboard-link"><i class="fas fa-history"></i> HISTORY OF RESERVATION</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="stats">
                <div class="reservation">
                    <div class="icon-text">
                        <i class="fa fa-cutlery"></i> <!-- Icon for Total Reservation -->
                        <div class="text">
                            <h3>TOTAL <span style="font-size: 1.5em;"> | </span> RESERVATION</h3>
                            <p>1500</p>
                        </div>
                    </div>
                </div>
                <div class="dailyreservation">
                    <div class="icon-text">
                        <i class="fa fa-bar-chart"></i> <!-- Icon for Total Reservation -->
                        <div class="text">
                            <h3>TOTAL <span style="font-size: 1.5em;"> | </span> RESERVATION/DAY</h3>
                            <p>56</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/studentDashboard.js"></script>
    <script src="../assets/js/sidebar.js"></script>
    
</body>